<%= render 'layouts/navigation' %>

    <!-- Crystal Ball -->
    <div class="crystall-ball-container text-center img-responsive">
        <div class="crystal-ball img-responsive"></div>
        <div id="text"></div>
        <div id="author"></div>
    </div>

    <div class="button" id="new-vision">New Vision</div><br>

<%= javascript_include_tag "home", "data-turbolinks-track" => true  %>
