@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('/assets/mystic-purple-background.png');
  min-width: 500px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#fog {
  height:200px;
  width:1800px;
  max-width:99%;
  min-width:800px;
  position: absolute;
  top: 0;
  left: 0;
}

#title {
  position: relative;
}

#about {
  text-align: left;
}

.left-raven {
  position: relative;
}

.right-raven {
  position: relative;
  right: 0px;
}

.flower-container {
  background: url('/assets/footer.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.comment-textbox {
  height: 200px;
  width: 500px;
  font-size: 12pt;
}

.comment-content {
  text-align: left;
}



img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }

.form {
  @extend .col-md-6;
  }

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;
  }

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}

.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}

.authform .right {
  float: right !important;
}

.authform .button {
  @extend .btn;
  @extend .btn-primary;
}

.authform fieldset {
  @extend .well;
}

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation h2 {
  font-size: 16px;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-warning;
}

.alert-success {
  @extend .alert-success;
}
///////////////////
// Crystal Ball //
//////////////////

$textFallbackColor: #fff;
$buttonBG: radial-gradient(circle at 50% 120%, darken(#81e8f6, 20), darken(#76deef, 20) 10%, darken(#73bec1, 5) 80%, darken(#73bec1, 10) 100%);

@keyframes gradientShift {
  0% {
    background-position: 100% 0%
  }
  50% {
    background-position: 0% 100%
  }
  100% {
    background-position: 100% 0%
  }
}

.crystal-ball-container {
  height: 420px;
  position: relative;
  margin: 120px 0;
  text-align: center;
}

.crystal-ball {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 100%;
  z-index: -1;
  background: linear-gradient(45deg, #14F5A2, #F55651, #23A5C2, #C2235F);
  background-size: 400% 400%;
  animation: gradientShift 20s ease infinite;
  opacity: 1;
  &:before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: calc(50% - 250px);
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    filter: blur(6px);
    opacity: .7;
  }
  &:after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: calc(50% - 250px);
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(6px);
    opacity: .6;
  }
}

#text {
  width: 400px;
  position: absolute;
  max-height: 400px;
  padding: 30px 0;
  left: 635px;
  top: 200px;
  transform: translate(-50%, -50%);
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  background: linear-gradient(45deg, #14F5A2, #F55651, #23A5C2, #C2235F);
  background-size: 400% 400%;
  font-size: 26px;
  animation: gradientShift 25s ease infinite;
  opacity: 0;
  z-index: 1;
  color: $textFallbackColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: url(#turb);
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
}

#author {
  @extend #text;
  font-style: italic;
  margin: 200px 0;
}

.button {
  box-shadow: 0px 0px 2px 1px #fff;
  text-shadow: 0px 0px 0.2px #000;
  border-radius: 17px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  background: $buttonBG;
  box-sizing: border-box;
  padding: 7px;
  margin: 0 auto;

  &:hover {
    background: linear-gradient(45deg, #14F5A2, #F55651, #23A5C2, #C2235F);
    background-size: 400% 400%;
    animation: gradientShift 20s ease infinite;
  }

  &:active {
    box-shadow: 0px 0px 0px 0px #fff;
    text-shadow: 0px 0px 0px #000;
  }
}

.icon {
  margin: 25px 25px 25px 25px;
}

.connect {
  color: white;
  font-family: Josefin Slab;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

#new-vision {
  margin: 15px auto;
  width: 170px;
  height: 40px;
}

//////////////////
// Tarot Cards //
////////////////

.singlecard {
  width: 200px;
  height: 335px;
  position: relative;
  margin: 75px auto 40px;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;

  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
         -o-transition: -o-transform 1s;
            transition: transform 1s;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: right center;
       -moz-transform-origin: right center;
         -o-transform-origin: right center;
            transform-origin: right center;
      -webkit-box-shadow: 0 0 12px 10px rgba(0,0,0,.5);
      box-shadow: 0 0 12px 10px rgba(0,0,0,.5);

    figure {
      cursor: pointer;
      display: block;
      height: 100%;
      width: 100%;
      line-height: 260px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 140px;
      position: absolute;
      margin: 0;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    .front {
      height: 335px;
      background: #3D3D3D;
      img{ width: 100%;}
    }

    .back {
      background: #000;
      height: 335px;
      font-size: 14px;
      width: 100%;
      padding: 5px 20px;
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
      img {
        height: 100%;
        width: 100%;
        opacity: 0.75;
      }
      .description{
        font-size: 10px;
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        p {
          color: #fff;
          position: relative;
          bottom: 300px;
        }
        .titlecr{ font-weight: bold; color: #2D9BD8;}

      }
    }//END back
  }//END card
  .card.flipped {
  -webkit-transform: translateX( -100% ) rotateY( -180deg );
     -moz-transform: translateX( -100% ) rotateY( -180deg );
       -o-transform: translateX( -100% ) rotateY( -180deg );
          transform: translateX( -100% ) rotateY( -180deg );
  }
}//END singlecard


/////////////////////
// Responsiveness //
///////////////////

@media (max-width: 60em) {
  #fog {
    display: none;
  }
  .left-raven {
    display: none;
  }
  .right-raven {
    display: none;
  }
  #text {
    width: 400px;
    position: absolute;
    max-height: 400px;
    padding: 30px 0;
    left: 250px;
    top: 250px;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background: linear-gradient(45deg, #14F5A2, #F55651, #23A5C2, #C2235F);
    background-size: 400% 400%;
    font-size: 26px;
    animation: gradientShift 25s ease infinite;
    opacity: 0;
    z-index: 1;
    color: $textFallbackColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: url(#turb);
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
  }

  #author {
    width: 400px;
    position: absolute;
    max-height: 400px;
    padding: 30px 0;
    left: 250px;
    top: 200px;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background: linear-gradient(45deg, #14F5A2, #F55651, #23A5C2, #C2235F);
    background-size: 400% 400%;
    font-size: 26px;
    animation: gradientShift 25s ease infinite;
    opacity: 0;
    z-index: 1;
    color: $textFallbackColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: url(#turb);
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
    font-style: italic;
    margin: 200px 0;
  }
  .singlecard {
    width: 200px;
    height: 335px;
    position: relative;
    margin: 75px auto 40px;
    -webkit-perspective: 800px;
       -moz-perspective: 800px;
         -o-perspective: 800px;
            perspective: 800px;

    .card {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform-origin: right center;
         -moz-transform-origin: right center;
           -o-transform-origin: right center;
              transform-origin: right center;
        -webkit-box-shadow: 0 0 12px 10px rgba(0,0,0,.5);
        box-shadow: 0 0 12px 10px rgba(0,0,0,.5);

      figure {
        cursor: pointer;
        display: block;
        height: 100%;
        width: 100%;
        line-height: 260px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: 140px;
        position: absolute;
        margin: 0;
        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
             -o-backface-visibility: hidden;
                backface-visibility: hidden;
      }

      .front {
        height: 335px;
        background: #3D3D3D;
        img{ width: 100%;}
      }

      .back {
        background: #000;
        height: 335px;
        font-size: 14px;
        width: 100%;
        padding: 5px 20px;
        -webkit-transform: rotateY( 180deg );
           -moz-transform: rotateY( 180deg );
             -o-transform: rotateY( 180deg );
                transform: rotateY( 180deg );
        img {
          height: 100%;
          width: 100%;
          opacity: 0.75;
        }
        .description{
          font-size: 10px;
          font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
          p {
            color: #fff;
            position: relative;
            bottom: 350px;
          }
          .titlecr{ font-weight: bold; color: #2D9BD8;}

        }
      }//END back
    }//END card
    .card.flipped {
    -webkit-transform: translateX( -100% ) rotateY( -180deg );
       -moz-transform: translateX( -100% ) rotateY( -180deg );
         -o-transform: translateX( -100% ) rotateY( -180deg );
            transform: translateX( -100% ) rotateY( -180deg );
    }
  }//END singlecard
}
